<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="top_img mt-4">
        <img src="assets/156619-01.jpg" class="img-fluid">
      </div>
      <h3 class="display-4 text-center mt-3">SUMIT</h2>
      <p class="text-center">山から見える絶景をみんなに紹介しよう！</p>
      <div class="top">
        <%= button_to "アカウント登録", new_user_path, {method: :get, class: 'top_btn_1'} %>
      </div>
      <div class="top">
        <%= button_to "ログイン", new_session_path, {method: :get, class: 'top_btn_2'} %>
      </div>
    </div>
  </div>
</div>
